<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @twitter.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @twitter.message %>
</p>

<%= link_to 'Edit', edit_twitter_path(@twitter) %> |
<%= link_to 'Back', twitters_path %>
